server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;

        server_name {{ server_name }};

        ssl_certificate /etc/ssl/certs/{{ app_name }}.pem;
        ssl_certificate_key /etc/ssl/private/{{ app_name }}.key;

        root {{ web_root }}/dist;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }
}