server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;

        server_name {{ server_name }};

        ssl_certificate /etc/ssl/{{ app_name }}.pem;
        ssl_certificate_key /etc/ssl/{{ app_name }}.key;

        access_log /var/log/nginx/{{ app_name }}.access.log;
        error_log /var/log/nginx/{{ app_name }}.error.log;

        root {{ web_root }}/dist;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }
}